grpcio==1.63.0
grpcio-tools==1.63.0
grpcio-health-checking==1.63.0

structlog==24.4.0
prometheus-client==0.21.0
slowapi==0.1.9
opentelemetry-sdk==1.27.0
opentelemetry-exporter-otlp==1.27.0
opentelemetry-instrumentation-fastapi==0.48b0
